@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to top, #1BE0FA 30%, #1BFACA);
    background-attachment: fixed;
    background-color: #001c31;
    
}

header{
    background-color: #1c9afa58;
    padding: 20px;
    text-align: center;
    margin: auto;
}

header>h1{
    padding: 13px;
    font-size: 2.2em;
}

nav{
     background-color: #1c9afa58;
    padding: 10px 10px 5px 10px;
    margin: auto;
}
nav>a{
    color: #001c31;
    padding-right: 15px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav>a:hover{
    background-color: #1c6daa7b;
    text-decoration: underline;
    padding-left: 15px;
    border-radius: 5px;
}
main{
    background-color: white;
    max-width: 600px;
    min-width: 300px;
    padding: 10px;
    padding-right: 15ps;
    margin: auto;
    text-align: justify;
}
main h1{
    font-size: larger;
    color: #1B53FA;
    padding: 10px 0px 10px 0px;
    font-size: 2em;
}
main p{
    margin: 0px 0px 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.1em;
    line-height: 1.7em;
}
img{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
div.video{
    margin: 0px 0px 0px 0px;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 58%;
    position: relative;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    max-width: 90%;
    max-height: 90%;
}
p.after_img{
    padding-top: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer a{
    color: white;
}
