@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F5F5F5;
}

header{
    background-color: #5C55E6 ;
    text-align: center;
    margin: auto;
    padding: 15px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: -5px;
}

header>p.mesma-linha{
    text-align: left;
}

header>h1{
    padding: 10px;
    
}

header>p{
    padding-bottom: 10px;
    padding-top: 20px;
}

nav{
    text-align: center;
    padding: 15px;
    margin: auto;
    background-image: linear-gradient(to top, #bd55e6 ,#7d4be0 , #5C55E6);
    position: fixed;
    top: 130px;
    width: 100vw;
    z-index: 1000;
}
nav a{
    padding: 5px;
    background-color: #17228C;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    
}
a.linkMain{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

a.linkMain:hover{
    text-decoration: underline;
}

a.link-site{
    transition-duration: 0.1s;
}

a.link-site:hover{
    padding: 7.5px;
    text-decoration: underline;
    background: #1739b4;
}

main{
    position: relative;
    background-color: white;
    max-width: 1400px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    top: 200px;
}
div{
    position: relative;
    min-width: 400px;
    height: 420px;
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
    left: 3.5%;
    cursor: pointer;
}
i{
    cursor: pointer;
}
div#testMenu{
    display: inline-block;
    width: 50px;
    height:37px;
    font-size: 2em;
    text-align: left;
    overflow: hidden;
    transition-duration: 0.5s;
    position: fixed;
    left: 20px;
    top: -40px;
    z-index: 1000;
    cursor: auto;
}

div#testMenu>p{
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    width: 200px;

}

div#testMenu>p a{
    padding: 5px;
}

div#testMenu.testMenu1{
    height: 168px; 
    width: 200px;
}

img{
    width: 350px;
    height: 350px;
    margin-top: 5px;
    border: solid black 2px;
}

a.first_product{
    text-decoration: none;
    color: black;
}