@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: #F5F5F5;
}

header{
    background-color: #5C55E6 ;
    text-align: center;
    margin: auto;
    padding: 15px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: -5px;
}

header>p.mesma-linha{
    text-align: left;
}

header>h1{
    padding: 10px;
}

header>p{
    padding-bottom: 10px;
    padding-top: 20px;
}

span.menuCart{
    left: -200px;
}

nav{
    text-align: center;
    padding: 15px;
    margin: auto;
    background-image: linear-gradient(to top, #bd55e6 ,#7d4be0 , #5C55E6);
    position: fixed;
    top: 130px;
    width: 100vw;
    z-index: 1000;
}
nav a{
    padding: 5px;
    background-color: #17228C;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    
}




a.first_product{
    text-decoration: none;
    color: black;
}

a.linkMain{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

a.linkMain:hover{
    text-decoration: underline;
}

a.link-site{
    transition-duration: 0.1s;
}

a.link-site:hover{
    padding: 7.5px;
    text-decoration: underline;
    background: #1739b4;
}



input.btnPlus, .btnPlus2, .btnPlus3{
     background-color: white;
     border: solid black 1px;
     padding: 4px 8px;
     border-radius: 50%;
     transition-duration: 0.25s;
}
.btnPlus:active, .btnPlus2:active, .btnPlus3:active{
    background-color: gray;
}

input.btnMinus, .btnMinus2, .btnMinus3{
    background-color: white;
    border: solid black 1px;
    padding: 5px 10px;
    border-radius: 50%;
    transition-duration: 0.25s;
}
.btnMinus:active, .btnMinus2:active, .btnMinus3:active{
   background-color: gray;
}

p.productQuant{
    font-size: 1.5em;
    margin: 0 10px;
}

p.productQuant2{
    font-size: 1.5em;
    margin: 0 10px;
}

p.productQuant3{
    font-size: 1.5em;
    margin: 0 10px;
}

span.toCart{
    display: flex;
    align-items: center;       /* Centraliza verticalmente */
    justify-content: center;   /* Centraliza horizontalmente */
    gap: 10px;                 /* Espaço entre os elementos */
    border: solid 1px black;
    padding: 10px;
    background-color: #5c55e667;
    cursor: default;
    flex-wrap: wrap;      
    
}

button.addToCart, button.addToCart2, button.addToCart3{
    border: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #6b17b48b;
}
button.addToCart:active, .addToCart2:active, .addToCart3:active{
    background-color: #bd55e6;
    transition-duration: 0.12s;
}


footer{
    color: white;
    position: relative;
    margin-top: 250px;
    padding: 7px;
    text-align: center;
    background-color: black; 
}
footer a{
    color: white;
    font-size: 1.1em;
}

.txt{
    background-color: white;
    overflow: hidden;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    position: relative;
    top: -50px;
    left: 2px;
}


@media (min-width: 1370px){
    main{
        position: relative;
        background-color: white;
        max-width: 1400px;
        margin: auto;
        border-radius: 10px;
        margin-top: 10px;
        top: 200px;
    }
    div{
        position: relative;
        min-width: 400px;
        height: 420px;
        display: inline-block;
        margin-top: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        text-align: center;
        left: 3.5%;
        cursor: pointer;
    }
    i{
        cursor: pointer;
    }
    div#testMenu{
        display: inline-block;
        width: 200px;
        height:37px;
        font-size: 2em;
        text-align: left;
        overflow: hidden;
        transition-duration: 0.5s;
        position: fixed;
        left: 20px;
        top: -40px;
        z-index: 1000;
        cursor: auto;
    }
    
    div#testMenu>p{
        background-color: white;
        border-radius: 10px;
        padding: 8px;
        width: 200px;
    
    }
    
    div#testMenu>p a{
        padding: 5px;
    }
    
    div#testMenu.testMenu1{
        height: 168px; 
        width: 200px;
    }

    span.cartMenu2
    {
        top: 10px;
        left: 96vw;
        position: fixed;
    }

    div#menuCart{
        display: inline-block;
        width: 200px;
        height: 0px;
        font-size: 2em;
        text-align: left;
        overflow: hidden;
        left: 72vw;
        transition-duration: 0.5s;
        position: fixed;
        top: -5px;
        z-index: 1000;
        cursor: auto;

    }


    div#menuCart > p {
        background-color: white;
        border-radius: 10px;
        padding: 8px;
    }

    div#menuCart > p a {
        padding: 5px;
    }

    div#menuCart.menuCart1 {
        height: 250px;
        width: 350px;
        cursor: auto;
    }
    
    
    img{
        width: 350px;
        height: 350px;
        margin-top: 5px;
        border: solid black 2px;
    }
    
    a.first_product{
        text-decoration: none;
        color: black;
    }
    
}
@media (min-width: 920px) and (max-width: 1375px) {
    main{
        position: relative;
        background-color: white;
        max-width: 1400px;
        margin: auto;
        border-radius: 10px;
        margin-top: 10px;
        top: 200px;
    }
    div{
        position: relative;
        min-width: 400px;
        height: 420px;
        margin-top: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        text-align: center;
        left: 4%;
        cursor: pointer;
    }
    i{
        cursor: pointer;
    }
    div#testMenu{
        display: inline-block;
        width: 200px;
        height:37px;
        font-size: 2em;
        text-align: left;
        overflow: hidden;
        transition-duration: 0.5s;
        position: fixed;
        left: 20px;
        top: -40px;
        z-index: 1000;
        cursor: auto;
    }
    
    div#testMenu>p{
        background-color: white;
        border-radius: 10px;
        padding: 8px;
        width: 200px;
    
    }
    
    div#testMenu>p a{
        padding: 5px;
    }
    
    div#testMenu.testMenu1{
        height: 168px; 
        width: 200px;
    }


    span.cartMenu2
    {
        top: 9px;
        left: 94vw;
        position: fixed;
    }

    div#menuCart{
        display: inline-block;
        width: 200px;
        height: 0px;
        font-size: 2em;
        text-align: left;
        overflow: hidden;
        left: 58vw;
        transition-duration: 0.5s;
        position: fixed;
        top: -5px;
        z-index: 1000;
        cursor: auto;

    }


    div#menuCart > p {
        background-color: white;
        border-radius: 10px;
        padding: 8px;
    }

    div#menuCart > p a {
        padding: 5px;
    }

    div#menuCart.menuCart1 {
        height: 250px;
        width: 350px;
    }
    
    img{
        width: 350px;
        height: 350px;
        margin-top: 5px;
        border: solid black 2px;
    }
    
    a.first_product{
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 919px) and (min-width: 600px){
    main{
        position: relative;
        background-color: white;
        max-width: 1400px;
        margin: auto;
        border-radius: 10px;
        margin-top: 10px;
        top: 200px;
    }
    div{
        position: relative;
        min-width: 400px;
        height: 420px;
        margin-top: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        text-align: center;
        left: 5.5%;
        cursor: pointer;
    }
    i{
        cursor: pointer;
    }
    div#testMenu{
        display: inline-block;
        width: 200px;
        height:37px;
        font-size: 2em;
        text-align: left;
        overflow: hidden;
        transition-duration: 0.5s;
        position: fixed;
        left: 20px;
        top: -40px;
        z-index: 1000;
        cursor: auto;
    }
    
    div#testMenu>p{
        background-color: white;
        border-radius: 10px;
        padding: 8px;
        width: 200px;
    
    }
    
    div#testMenu>p a{
        padding: 5px;
    }
    
    div#testMenu.testMenu1{
        height: 168px; 
        width: 200px;
    }


    span.cartMenu2
    {
        top: 10px;
        left: 90vw;
        position: fixed;
    }

    div#menuCart{
        display: inline-block;
        width: 200px;
        height: 0px;
        font-size: 2em;
        text-align: left;
        overflow: hidden;
        left: 50vw;
        transition-duration: 0.5s;
        position: fixed;
        top: -5px;
        z-index: 1000;
        cursor: auto;

    }


    div#menuCart > p {
        background-color: white;
        border-radius: 10px;
        padding: 8px;
    }

    div#menuCart > p a {
        padding: 5px;
    }

    div#menuCart.menuCart1 {
        height: 250px;
        width: 350px;
    }
    
    img{
        width: 350px;
        height: 350px;
        margin-top: 5px;
        border: solid black 2px;
    }
    
    a.first_product{
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 599px) and (min-width: 460px){
    main{
        position: relative;
        background-color: white;
        max-width: 1400px;
        margin: auto;
        border-radius: 10px;
        margin-top: 10px;
        top: 200px;
    }
    div{
        position: relative;
        min-width: 400px;
        height: 420px;
        margin-top: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        text-align: center;
        left: 7.5%;
        cursor: pointer;
    }
    i{
        cursor: pointer;
    }
    div#testMenu{
        display: inline-block;
        width: 200px;
        height:37px;
        font-size: 2em;
        text-align: left;
        overflow: hidden;
        transition-duration: 0.5s;
        position: fixed;
        left: 20px;
        top: -40px;
        z-index: 1000;
        cursor: auto;
    }
    
    div#testMenu>p{
        background-color: white;
        border-radius: 10px;
        padding: 8px;
        width: 200px;
    
    }
    
    div#testMenu>p a{
        padding: 5px;
    }
    
    div#testMenu.testMenu1{
        height: 168px; 
        width: 200px;
    }


    span.cartMenu2
    {
        top: 9px;
        left: 88vw;
        position: fixed;
    }

    div#menuCart{
        display: inline-block;
        width: 200px;
        height: 0px;
        font-size: 2em;
        text-align: left;
        overflow: hidden;
        left: 16vw;
        transition-duration: 0.5s;
        position: fixed;
        top: -5px;
        z-index: 1000;
        cursor: auto;

    }


    div#menuCart > p {
        background-color: white;
        border-radius: 10px;
        padding: 8px;
    }

    div#menuCart > p a {
        padding: 5px;
    }

    div#menuCart.menuCart1 {
        height: 250px;
        width: 350px;
    }
    
    img{
        width: 350px;
        height: 350px;
        margin-top: 5px;
        border: solid black 2px;
    }
    
    a.first_product{
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 459px){
    header{
        background-color: #5C55E6 ;
        text-align: center;
        margin: auto;
        padding: 15px;
        position: fixed;
        width: 100vw;
        z-index: 1000;
        top: -5px;
        height: 50px;
    }
    header>p.mesma-linha{
        text-align: left;
    }
    
    header>h1{
        padding: 10px;
        position: relative;
        left: -10px;
        cursor:auto;
        
    }
    
    header>p{
        padding-bottom: 10px;
        padding-top: 20px;
        opacity: 0;
    }
    nav{
        text-align: center;
        padding: 15px;
        margin: auto;
        background-image: linear-gradient(to top, #bd55e6 ,#7d4be0 , #5C55E6);
        position: fixed;
        top: 55px;
        left: -10px;
        width: 100vw;
        z-index: 1000;
        height: 10px;
    }
    main{
        position: relative;
        background-color: white;
        max-width: 1400px;
        margin: auto;
        border-radius: 10px;
        margin-top: 10px;
        top: 65px;
    }
    div{
        position: relative;
        min-width: 200px;
        height: 300px;
        margin-top: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        text-align: center;
        left: 8.3vw;
        cursor: pointer;
    }
    i{
        cursor: pointer;
    }
    div#testMenu{
        display: inline-block;
        width: 200px;
        height:37px;
        font-size: 2em;
        text-align: left;
        overflow: hidden;
        transition-duration: 0.5s;
        position: fixed;
        left: 5px;
        top: -40px;
        z-index: 1000;
        cursor: auto;
    }
    
    div#testMenu>p{
        background-color: white;
        border-radius: 10px;
        padding: 8px;
        width: 200px;
    
    }
    
    div#testMenu>p a{
        padding: 5px;
    }
    
    div#testMenu.testMenu1{
        height: 168px; 
        width: 200px;
    }


    span.cartMenu2
    {
        top: 9px;
        left: 84vw;
        position: fixed;
    }

    div#menuCart{
        display: inline-block;
        position: fixed;
        width: 200px;
        height: 0px;
        font-size: 2em;
        text-align: left;
        overflow: hidden;
        left: 42vw;
        transition-duration: 0.5s;
        position: fixed;
        top: -5px;
        z-index: 1000;
        cursor: auto;

    }


    div#menuCart > p {
        background-color: white;
        border-radius: 10px;
        padding: 8px;
    }

    div#menuCart > p a {
        padding: 5px;
    }

    div#menuCart.menuCart1 {
        height: 250px;
        width: 350px;
    }


    
    img{
        max-width: 200px;
        height: 200px;
        margin-top: 5px;
        border: solid black 2px;
    }
    
    a.first_product{
        text-decoration: none;
        color: black;
    }

    input.btnPlus, .btnPlus2, .btnPlus3{
        background-color: white;
        border: solid black 1px;
        padding: 2px 4px;
        border-radius: 50%;
        transition-duration: 0.25s;
   }

    input.btnMinus, .btnMinus2, .btnMinus3{
        background-color: white;
        border: solid black 1px;
        padding: 2.5px   5px;
        border-radius: 50%;
        transition-duration: 0.25s;
}

    p.productQuant, .productQuant2, .productQuant3{
        font-size: 1em;
        margin: 0 10px;
    }

    button.addToCart, button.addToCart2, button.addToCart3{
        border: 0;
        padding: 2.5px;
        border-radius: 5px;
        background-color: #6b17b48b;
    }

    span.toCart{
        position: relative;
        display: flex;
        align-items: center;       /* Centraliza verticalmente */
        justify-content: center;   /* Centraliza horizontalmente */
        gap: 10px;                 /* Espaço entre os elementos */
        border: solid 1px black;
        padding: 5px;
        background-color: #5c55e667;
        cursor: default;
        flex-wrap: wrap;   
        min-width: 100px;
        text-align: center;
    }

}